@model UpdateBookingDto
@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Booking Operation</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">New Booking Entry</div>
                        </div>
                        <input type="hidden" asp-for="BookingId" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Enter First Last Name</label>
                                <input type="text" class="form-control" asp-for="Name" id="Name">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Phone">Enter Phone Number</label>
                                <input type="text" class="form-control" asp-for="Phone" id="Phone">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">Enter E-Mail</label>
                                <input type="email" class="form-control" asp-for="Mail" id="Mail">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="PersonCount">Enter Person Count</label>
                                <input type="number" class="form-control" asp-for="PersonCount" id="PersonCount">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Date">Booking Date</label>
                                <input type="date" class="form-control" asp-for="Date" id="Date">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Update a reservation</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



