@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Product Operation</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Product Update Page</div>
                            <input type="hidden" asp-for="ProductId" />
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="productname">Enter Product Name</label>
                                <input type="text" class="form-control" asp-for="ProductName" id="productname">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Enter Product Price</label>
                                <input type="text" class="form-control" asp-for="Price" id="price">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="imageurl">Enter Product Image</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="imageurl">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="price">Select Category</label>
                                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="description">Enter Product Description</label>
                                <input type="text" class="form-control" asp-for="Description" id="description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-primary">Product Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

